<!DOCTYPE html>
<html>
  <head>
    <title>Rutubes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Rutube" />
     <meta property='og:image' content="<%= image_url('video_index.png') %>"/>
     <meta property="og:description"
       content="Rutube, a YouTube clone, is a video-sharing platform where users can watch, comment on, and like/dislike videos, as well as upload and share their own. This website was built with JavaScript, React, Redux, Ruby, Rails, AWS, and Postgres."
     />
     <meta property="og:url"
       content="http://projectname.herokuapp.com/"
     />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <%= favicon_link_tag asset_path('ruby-icon.jpg') %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
